%h1 New vocabulary word

.row
  .col-sm-8
    = bootstrap_form_for([:admin, :dashboard, @word]) do |f|
      .row
        .col-sm-6
          = f.text_field :main
        .col-sm-2
          .btn.btn-primary.btn-small#find_vocabulary_word_api_search_button Find word
      = hidden_field_tag :api_key, ENV["pearson_api_key"]
  .col-sm-4
    %h5 Results
    #word_search_api_results