.col-xs-11.col-xs-offset-1.comment_reply
  .col-xs-3
    = image_tag(reply.author.picture_url, class: "reply_author_image")
  .col-xs-7
    %h5
      %strong #{reply.author.name} <small> replies </small>
    .reply_body
      %p= reply.body