%section.sign_in.container
.row
  .col-sm-7.col-sm-offset-1
    = form_tag password_resets_path, class: "sign_in" do
      %header
        %h1 Reset Password
      %fieldset
        .form-group
          = label_tag :password, "New Password"
          = password_field_tag :password, "New Password", class: "form-control"
          = hidden_field_tag :password_reset_token, @password_reset_token
        %fieldset.form-group.action
          %input(type="submit" value="Reset Password" class="btn btn-primary pull-right")
