%h1 Downloads

%ul
  - @downloads.each do |download|
    %li= link_to download.name, admin_dashboard_download_path(download)
.small= link_to "New Download", new_admin_dashboard_download_path
%table.table.table-bordered
  %thead
    %td Name
    %td Opened
    %td Links
    %td Downloaded
  %tbody
    - @downloads.each do |download|
      %tr
        %td
          =link_to admin_dashboard_download_path(download) do
            %h5= download.name
