= render "shared/nav"
%main
  .feature-image
    %h1 Article Title
  .container
    .col-sm-8
      .article_show
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora mollitia tempore, quibusdam voluptates voluptatibus, sint et possimus, aperiam ut ducimus, in quis! Sequi qui veritatis, accusamus vero esse dicta sit?

        %h3 oinad ad oiasdaobd adba 

        %p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores praesentium, nihil vero odit minima harum facere voluptas tenetur assumenda nesciunt itaque qui dolor animi quod aut ipsum, quos saepe adipisci.

        %strong This is tpoe aoin fdf p keino qeq qweon 

        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi sapiente, modi totam assumenda animi doloremque ducimus, enim, reiciendis voluptatibus impedit tempore asperiores atque expedita architecto praesentium nostrum magnam neque at.
        %h3 oinad ad oiasdaobd adba 

        %p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores praesentium, nihil vero odit minima harum facere voluptas tenetur assumenda nesciunt itaque qui dolor animi quod aut ipsum, quos saepe adipisci.

        %strong This is tpoe aoin fdf p keino qeq qweon 

        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi sapiente, modi totam assumenda animi doloremque ducimus, enim, reiciendis voluptatibus impedit tempore asperiores atque expedita architecto praesentium nostrum magnam neque at.
        %h3 oinad ad oiasdaobd adba 

        %p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores praesentium, nihil vero odit minima harum facere voluptas tenetur assumenda nesciunt itaque qui dolor animi quod aut ipsum, quos saepe adipisci.

        %strong This is tpoe aoin fdf p keino qeq qweon 

        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi sapiente, modi totam assumenda animi doloremque ducimus, enim, reiciendis voluptatibus impedit tempore asperiores atque expedita architecto praesentium nostrum magnam neque at.
        %h3 oinad ad oiasdaobd adba 

        %p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores praesentium, nihil vero odit minima harum facere voluptas tenetur assumenda nesciunt itaque qui dolor animi quod aut ipsum, quos saepe adipisci.

        %strong This is tpoe aoin fdf p keino qeq qweon 

        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi sapiente, modi totam assumenda animi doloremque ducimus, enim, reiciendis voluptatibus impedit tempore asperiores atque expedita architecto praesentium nostrum magnam neque at.

      .comments_section
        %form#commnt_form{:action => ""}
          %textarea.form-control{:name => "", :cols => "30", :rows => "10"}
          %input.form-control.btn.btn-primary{:type => "submit"}/
        - 5.times do  |comment|
          .comment
            %h5 Author <small> says </small>
            .comment_body
              %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt beatae, distinctio reiciendis facilis molestias quia eius obcaecati voluptatum doloremque laboriosam praesentium amet qui quidem architecto assumenda harum consequatur iste nobis.

    .col-sm-4
      = render "shared/sidebar"