%h1 Notifications

- if current_user.notifications.count <= 0
  %h5 You have no notifications
-else
  #user_notificaitons
    - current_user.notifications.each do |n|
      .well
        %h5= n.subject
        = n.body.html_safe
        %br/
        %small= n.created_at
