.row
  %footer.footer#main_footer
    .row
      .col-xs-4
        %h5 英文學校
        / %h5 English School
        %ul
          %li=link_to "工作機會", careers_path # Careers
          %li=link_to "Blog", blog_path
          %li=link_to "相關公司", affiliates_path # Affiliates
      .col-xs-4
        %h5 條款和協助
        / %h5 Terms and help
        %ul
          %li=link_to "隱私權政策", "/privacy_policy" # Privacy Terms
          %li=link_to "條款和協助", "/help" # Help
          %li=link_to "聯絡", contact_path # Contact
      .col-xs-4
        %h5 Account
        %ul
          %li= link_to "我的帳號", account_path # My Account
          %li= link_to "升級", root_path # Upgrade
    .row.footer_social
      .col-xs-12
        %h5.center Social
      .col-xs-12
        .col-xs-3
          Facebok
        .col-xs-3
          Wechat
    .row
      .center.v_margin
        © 2016 Yingwenxuexiao All Rights Reserved.
