%nav#main_nav
  .row
    .col-sm-2.nav_item
      .nav_text Home
    .col-sm-2.nav_item
      .nav_text Free Stuff
    .col-sm-2.nav_item
      .nav_text Courses
    .col-sm-4.nav_item
      .nav_text Premium Membership
    .col-sm-2.nav_item
      .nav_text Blog