%nav#main_nav.navbar.navbar-default.navbar-static-top.hidden-xs
  .row
    .col-sm-2.nav_item
      .nav_text
        = link_to "Free Stuff", root_path
    .col-sm-2.nav_item
      .nav_text
        = link_to "Courses", courses_path
    .col-sm-2.nav_item
      .nav_text
        = link_to "Practice", practice_path
    .col-sm-4.nav_item
      .nav_text Premium Membership
    .col-sm-2.nav_item
      .nav_text 
        = link_to "Blog", blog_path