/ %section.v_margin.center
/   - if !logged_in?
/     %h1 Sign up for a Premium Membership today
/     .btn.btn-primary Sign Up
/   - elsif logged_in? && !current_user.is_paid_member? 
/     %h1 Upgrade account
/     .btn.btn-primary Upgrade Now
/   - elsif logged_in? && current_user.is_paid_member?
/     .well You already have a premium membership.

.row
  .container
    .col-xs-12.col-sm-offset-3.col-lg-offset-4
      - if logged_in? && current_user.is_paid_member?
        %h5 你已經是優質會員了。
        = link_to courses_path do
          .btn.btn-primary 上課
      - elsif logged_in? && !current_user.is_paid_member? 
        = form_tag subscribers_path do
          %article
            - if flash[:error].present?
              #error_explanation
                %p= flash[:error]
            %label.amount
              %span 課程費: $750 NTD / 月
          %script.stripe-button{"data-alipay" => "true", "data-amount" => "75000", "data-currency" => "ntd", "data-description" => "課程費: $750 NTD / 月", "data-key" => Rails.configuration.stripe[:publishable_key], "data-label" => "升級", "data-locale" => "auto", :src => "https://checkout.stripe.com/checkout.js"}
          %p 當您是會員時，您可以看視頻，下載備註，考小考和問教師問題
          %p 您每月將收取750台幣(NTD)，直到您取消
          %p 如果您沒有信用卡或支付寶(Alipay)您可以通過銀行轉帳付款。請發送電子郵件至 TaiwanEnglishSchool@gmail.com

      - else
        = link_to sign_up_path do
          .btn.btn-xlarge.btn-primary 註冊
