- @random_article = Article.randomArticle([@article.id])
- if @random_article
  .center
    = link_to article_path(@random_article) do
      %h5.read_more= "Read another article: " + @random_article.title
