.blog_side_bar
  .widget
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam ratione eligendi, facilis accusamus minima vero ipsum ex quo provident amet aliquam nemo, voluptas sapiente cupiditate suscipit deleniti totam illum illo!        
  .widget
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam ratione eligendi, facilis accusamus minima vero ipsum ex quo provident amet aliquam nemo, voluptas sapiente cupiditate suscipit deleniti totam illum illo!        
  .widget
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam ratione eligendi, facilis accusamus minima vero ipsum ex quo provident amet aliquam nemo, voluptas sapiente cupiditate suscipit deleniti totam illum illo!