.blog_sidebar
  .widget.ebook_sign_up
    .topline Get 50 Free Lessons Right Now
    .widget_body
      %p Get Josh's new book "50+ English Idioms" for free!

      %button.btn.btn-primary.btn-lg{"data-target" => "#campaign_modal", "data-toggle" => "modal", :type => "button"} Get the book


  .widget
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam ratione eligendi, facilis accusamus minima vero ipsum ex quo provident amet aliquam nemo, voluptas sapiente cupiditate suscipit deleniti totam illum illo!        
  .widget
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam ratione eligendi, facilis accusamus minima vero ipsum ex quo provident amet aliquam nemo, voluptas sapiente cupiditate suscipit deleniti totam illum illo!


