
/ .row
/   .col-xs-3
/     - definition_true_or_false = session[:flash_cards]["definition"].to_s == "true"
/     = link_to games_flash_cards_toggle_options_path(option_type: "definition", checked: !definition_true_or_false), method: "post", remote: true do
/       .btn-group{"data-toggle" => "buttons"} 
/         %label.btn.flash_card_option_checkbox{:class => ("flash_card_checked" if definition_true_or_false)}
/           %input{:autocomplete => "off", :checked => definition_true_or_false, :type => "checkbox", value: "definition"}/
/           Definition
/   .col-xs-3
/     - english_to_chinese_true_or_false = session[:flash_cards]["english_to_chinese"].to_s == "true"
/     = link_to games_flash_cards_toggle_options_path(option_type: "english_to_chinese", checked: !english_to_chinese_true_or_false), method: "post", remote: true do
/       .btn-group{"data-toggle" => "buttons"}
/         %label.btn.flash_card_option_checkbox{:class => ("flash_card_checked" if english_to_chinese_true_or_false)}
/           %input{:autocomplete => "off", :checked => english_to_chinese_true_or_false, :type => "checkbox", value: "english_to_chinese"}/
/           English to Chinese  
/   .col-xs-3
/     - chinese_to_english_true_or_false = session[:flash_cards]["chinese_to_english"].to_s == "true"
/     = link_to games_flash_cards_toggle_options_path(option_type: "chinese_to_english", checked: !chinese_to_english_true_or_false), method: "post", remote: true do
/       .btn-group{"data-toggle" => "buttons"}
/         %label.btn.flash_card_option_checkbox{:class => ("flash_card_checked" if chinese_to_english_true_or_false)}
/           %input{:autocomplete => "off", :checked => chinese_to_english_true_or_false, :type => "checkbox", value: "chinese_to_english"}/
/           Chinese to English
/   .col-xs-3
/     - spoken_true_or_false = session[:flash_cards]["spoken"].to_s == "true"
/     = link_to games_flash_cards_toggle_options_path(option_type: "spoken", checked: !spoken_true_or_false), method: "post", remote: true do
/       .btn-group{"data-toggle" => "buttons"}
/         %label.btn.flash_card_option_checkbox{:class => ("flash_card_checked" if spoken_true_or_false)}
/           %input{:autocomplete => "off", :checked => spoken_true_or_false, :type => "checkbox", value: "spoken"}/
/           Spoken