%h1 Free Downloads
%hr.v_margin
.row
  .col-xs-12.col-sm-6.col-md-4.col-lg-3
    .widget.ebook_sign_up{style: "border: 1px solid black"}
      .topline Get 250 Free Lessons Right Now
      .widget_body
        %p Get Josh's new book "250+ English Idioms" for free!
        %button.btn.btn-primary.btn-lg{"data-target" => "#campaign_modal", "data-toggle" => "modal", :type => "button"} Get the book
