%h1= t ".free_downloads"
%hr.v_margin
.row
  .col-xs-12.col-sm-6.col-md-4.col-lg-3
    .widget.ebook_sign_up{style: "border: 1px solid black"}
      .topline= t ".get_300_lessons"
      .widget_body
        %p= t ".get_joshs_new_book"
        %button.btn.btn-primary.btn-lg{"data-target" => "#campaign_modal", "data-toggle" => "modal", :type => "button"}= t ".get_the_book"
