%section#main_splash.row
  .col-md-5.col-md-offset-1
    %h1 Your Teacher
    %img{:alt => "", :src => ""}
      %p Josh Lee, Professional English Teacher
      %small I've taught English to Chinese students for years. I want to help you pass the CET, IELTS or just make you a better English speaker.
  .col-md-5.col-md-offset-1
    %h4 English Learning for all levels
    %p Learn with our video lessons quizzes and smartphone apps
    .btn.btn-primary
      Sign up for free
%section.row.spash_highlights
  .col-sm-3 Over 10 hours of video lessons
  .col-sm-3 Hundreds of quiz questions to reinforce what you have learned
  .col-sm-3 Smartphone APPS to practice your English
  .col-sm-3 Ask the teacher if you have questions
%section.large_splash_highlights
  .row
    .col-sm-5.col-sm-offset-1
      %h4 Video Lessons
      %p Watch video lessons and hear native English speakers. New courses are continuously being added to cover new topics like CET, IELTES, idioms and business English. You can take any course as long as you are a member.
    .col-sm-5.col-sm-offset-1
      %h4 Quizzes
      %p Practice what you have learned by taking quizzes and testing yourself. Each lesson has questions covering the material.
  .row
    .col-sm-5.col-sm-offset-1
      %h4 Lesson Notes
      %p Each lesson contains notes that you can download and print off so you can study later.
    .col-sm-5.col-sm-offset-1
      %h4 Smart Phone App
      %p With our smart phone app you can practice English when you are away from your computer.