- if @affiliate_link
  .row
    .well.affiliate_link_message=@affiliate_link.upgrade_message
%section#main_splash.row
  .container
    .col-sm-5.col-sm-offset-4
      %h1 即刻增進您的英文能力
      / %h1 Improve Your English Right Now
      %h4 透過影片和有趣的測驗等來學習英文！
      / %h4 Learn English with Video Lessons, Fun Quizzes and more!
= render "shared/pay_subscription_button"
= render "shared/upgrade_features"