%h1 恭喜！你現在是高級會員.
-# %h1 Congratulations! You are now a premium member.
%well
  %h5 繼續參加我們的課程。
  -# %h5 Go ahead and enroll in our classes.
  = link_to courses_path do
    .btn.btn-primary View Courses
