- if @affiliate_link
  .row
    .well.affiliate_link_message=@affiliate_link.upgrade_message
%section#main_splash.row
  .container
    .col-sm-5.col-sm-offset-4
      %h1= t ".improve_your_english_right_now"
      %h4= t ".learn_english_with_video_lessons"
= render "shared/pay_subscription_button"
= render "shared/upgrade_features"