%h1 Games

.row
  .container
    .col-xs-4
      %h2 Word search
      = link_to games_word_search_path do
        Go to game
    .col-xs-4
      %h2 What is this?
    .col-xs-4
      %h2 Flash cards
