.row
  .container
    .col-xs-5
      %h1 Course Levels

      = bootstrap_form_for([:admin, :dashboard, @course_level], remote: true) do |f|
        = f.text_field :name
        .row
          .col-xs-6
            = f.text_field :color
          #course_level_color_preview.badge.col-xs-6 SAMPLE TEXT
        = f.submit  @course_level.new_record?  ? "Create Course Level" : "Save Edits", class: "btn btn-primary"
