= render "form"
%br/
%br/
.row
  .container
    %table.table.table-bordered.course_levels_table
      %thead
        %td Name
        %td Courses
        %td Color
      %tbody
        - @course_levels.each do |course_level|
          %tr
            %td
              %strong=link_to course_level.name, edit_admin_dashboard_course_level_path(course_level)
            %td
              = course_level.courses.count
            %td.course_levels_table_color_preview{style: "background-color: #{course_level.color}"}
              = course_level.color

