%h1 Practice
#play_area_container
  = link_to start_practice_path(), method: "get", remote: "true" do
    .btn.btn-primary
      Start 
.row
  #start_talking.btn.btn-primary 
    Spoken
  #spoken_input
    Spoken_input

.row.navbar-fixed-bottom#correct_and_incorrect_marks
  .well
    .col-xs-3.col-xs-offset-4
      #correct
        .col-xs-1
          %i.fa.fa-check 
        .col-xs-4
          %h5 Great!
      #incorrect
        .col-xs-1
          %i.fa.fa-exclamation-circle 
        .col-xs-4
          %h5 Wrong!

