- if @lesson.vocabulary_words.count != 0
  - if current_user.is_paid_member?
    = link_to course_lesson_path(@course, @lesson, format: "pdf") do
      .btn.btn-primary.btn-block.btn-lg 下載備註
      -# .btn.btn-primary Download Notes
  - else
    .btn.btn-primary.btn-block.btn-lg 下載備註 
    %h4{style: "color: red; text-align: center;"} 免費用戶無法下載課堂筆記。升級到下載備註。

  -if current_user.is_admin?
    %br/
    = link_to course_lesson_path(@course, @lesson, format: "pdf", admin: true) do
      .btn.btn-primary Admin Notes
%br/
