.row
  .scripts_container
    - if @lesson.script_english
      .col-sm-6
        .english_script.well
          %h5 English Video Script
          %p= @lesson.script_english
    - if @lesson.script_chinese
      .col-sm-6
        .chinese_script.well
          %h5 Chinese Video Script
          %p= @lesson.script_chinese