.row
  .scripts_container

    - unless @lesson.script_english.blank?
      .col-sm-6
        %p
          %a.btn.btn-primary.btn-lg.btn-block{"aria-controls" => "english_script", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#english_script", :style => "color: white !important;"}
            English Video Script
        #english_script.collapse
          .card.card-block
            .english_script.well
              %p= @lesson.script_english


    - unless @lesson.script_chinese.blank?
      .col-sm-6
        %p
          %a.btn.btn-primary.btn-lg.btn-block{"aria-controls" => "chinese_script", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#chinese_script", :style => "color: white !important;"}
            Chinese Video Script
        #chinese_script.collapse
          .card.card-block
            .chinese_script.well
              %p= @lesson.script_chinese

