#video_container
  %iframe#vzvd-9361978.vzaar-video-player{:allowfullscreen => "", :allowtransparency => "true", :frameborder => "0", :height => "324", :mozallowfullscreen => "", :name => @lesson.name, :src => @lesson.video_url, :title => @lesson.name, :type => "text/html", :webkitallowfullscreen => "", :width => "576"}

