
= link_to admin_dashboard_vocabulary_words_path do
  .btn.btn-primary View Word List

= link_to admin_dashboard_course_levels_path do
  .btn.btn-primary Course Levels

= link_to admin_email_signups_path do
  .btn.btn-primary Emails

= link_to admin_article_topics_path do
  .btn.btn-primary Article Topics