%h1 Become an affiliate

%p Share Yinngwenxuexiao with your readers and make money!

%h3 How to
%ol
  %li Apply up for an affiliate account
  %li After your application gets approved we'll send you a link
  %li Use your link on your website or blog
  %li When someone signs up for a paid account and keeps it for a month, we'll send you some money

= render "application_form"
