.lesson_panel
  %h4 Lessons
  %ul
    - @course.lessons.each do |lesson|
      %li
        .row
          .col-sm-10
            =link_to "Lesson - #{lesson.lesson_number} ", course_lesson_path(@course, lesson)
          .col-sm-2
            - if current_user.completed_lesson?(lesson)
              %i.fa.fa-check

