%h2 Your payment was successful. Thanks!
%h1 Congratulations! You are now a premium member.
.well.center
  %h5 Go ahead and enroll in our classes.
  = link_to courses_path do
    .btn.btn-primary View Courses
