<h2>Your payment was successful. Thanks!</h2>
<h1>Congratulations! You are now a premium member.</h1>
<div class='well'>
  <h5>Go ahead and enroll in our classes.</h5>
  <%= link_to courses_path do %>
    <div class="btn btn-primary">View Courses</div>
  <% end %>
</div>