%h1 Reports

= link_to admin_dashboard_reports_payments_path do
  .btn.btn-primary Payments

= link_to admin_dashboard_reports_new_users_path do
  .btn.btn-primary New Users

= link_to admin_dashboard_reports_user_actions_path do
  .btn.btn-primary User Actions
