!!! 5
%html(lang="en-US")
  %body
    .email_body
      %h1 Reset your Yingwenxuexiao password
      %h4 Click below to reset your password
      = link_to "Reset password", password_reset_path(@user.password_reset_token)
      %br/
      %small Don't share this link with anyone, or they can reset your password!
