!!! 5
%html(lang="en-US")
  %body
    .email_body
      %h1 重置你的密碼。
      -# %h1 Reset your Yingwenxuexiao password
      %h4 點擊下面重置您的密碼。
      -# %h4 Click below to reset your password
      = link_to "Reset password", password_reset_url(@user.password_reset_token)
      %br/
      %small 不要與任何人共享此鏈接，或者可以重置您的密碼！
      -# %small Don't share this link with anyone, or they can reset your password!
    %p 不要回复此電子郵件。如果您需要幫助，請發送電子郵件至TaiwanEnglishSchool@gmail.com
