.row
  .col-xs-4
    = link_to rearrange_admin_course_path(@course) do
      .btn.btn-primary Course Units
.row
  .col-xs-2
    %h5 Add lesson
  .col-xs-5
    .add_lesson_button
      = link_to new_admin_course_lesson_path(@course) do
        %i.fa.fa-plus


= render "courses/course"