.row
  .col-xs-2.text-center.col-xs-offset-5
    .row
      .col-xs-5
        %h5 Add lesson to this course
      .col-xs-5
        .add_lesson_button
          = link_to new_admin_course_lesson_path(@course) do
            %i.fa.fa-plus


= render "courses/course"